@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Rubik:wght@300;400;500&family=Handjet:wght@300;400&family=Rajdhani&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Rubik', sans-serif;
}
.font-light {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-extraBold {
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #eee; 
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #999;
  border-radius: 10px;
}
/* .booting{
  background-image: url("/../4.jpg");
  background-blend-mode: overlay;
}
.intro{
  background-image: url("/../3.jpg");
  background-blend-mode: overlay;
} */
.homepage{
  background-image: url("/../2.jpg");
  background-size: cover;
}